<section class="product-list animate-fadeIn">
    <div class="product-list__card animate-slideLeft" *ngFor="let produto of produtos">
        <a routerLink="/produto/{{produto.id}}" class="product-list__link">
            <img [src]="produto.imagem">
            <h2 class="product-item__name">
                {{ produto.descricao }}
            </h2>
            <p class="product-item__price">
                {{ produto.preco | currency: "BRL"}}
            </p>
            <p class="product-item__price-description">
                {{ produto.descricaoPreco }}
            </p>
        </a>
        <button class="product-item__buy-button" type="button" (click)="adicionarAoCarrinho(produto)">Comprar</button>
    </div>
</section>
